<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Please login</h1>
      <br>
      <form action="" method="POST">
        <input type="text" placeholder="managerUsername" name="managerUsername" value="{{
          request.form.managerUsername }}">
         <input type="password" placeholder="managerPassword" name="managerPassword" value="{{
          request.form.managerPassword }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      <form action="" method="POST"> 
        <input class="btn btn-default" type="submit" value="Signup">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>