<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="text-align: center;">
    <form action="" method="post">
      <div class="container"  >
        <h1>You can select a gym.</h1>
        <h1>Choose what you want!</h1>
        <br><br>
        <select id ="standart-select"  name="daySelection" class="Input" style="background-color: #D1F6F9;">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        <br><br>
        <select id ="standart-select"  name="timeSelection" class="Input" style="background-color: #D1F6F9; size-adjust: auto;">
            
            <option value="06.00">06.00</option>
            <option value="07.00">07.00</option>
            <option value="08.00">08.00</option>
            <option value="09.00">09.00</option>
            <option value="10.00">10.00</option>
            <option value="11.00">11.00</option>
            <option value="12.00">12.00</option>
            <option value="13.00">13.00</option>
            <option value="14.00">14.00</option>
            <option value="15.00">15.00</option>
            <option value="16.00">16.00</option>
            <option value="17.00">17.00</option>
            <option value="18.00">18.00</option>
            <option value="19.00">19.00</option>
            <option value="20.00">20.00</option>
            <option value="21.00">21.00</option>
            <option value="22.00">22.00</option>
            <option value="23.00">23.00</option>
            <option value="00.00">00.00</option>
        </select>
        <br><br>
        <select id ="standart-select"  name="ptSelection" class="Input" style="background-color: #D1F6F9;">
          {% for personalTrainer in personalTrainers %}
            <option value="{{ personalTrainer['ptId'] }}"> {{ personalTrainer['ptName'] , personalTrainer['ptSurname'], personalTrainer['ptProfession'] }} </option>
          {% endfor %}
        </select>
        <br><br>
        <select id ="standart-select"  name="facilitySelection" class="Input" style="background-color: #D1F6F9;">
            {% for facility in facilities %}
              <option value="{{ facility['facilityID'] }}"> {{facility['facilityType'] }} </option>
            {% endfor %}
        </select>
        <br><br>
        <div>
            <button type="Submit" style="background-color: #D1F6F9;">Select</button>
        </div>
      </div>
    </form>
  </body>
</html>