<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="text-align: center;">
    <form action="" method="post">
      <div class="container" style="text-align: center;">
        <h1>You can select a gym.</h1>
        <h1>Choose what you want!</h1>
        <br><br>
        <select id ="standart-select"  name="gymSelection" class="Input" style="background-color: #D1F6F9;">
          {% for gym in userGyms %}
            <option value="{{ gym['gymID'] }}">{{ gym['gymName'] }}</option>
          {% endfor %}
          </select>
          <br><br><br>
          <div>
            <button type="Submit" style="background-color: #D1F6F9;">Select</button>
          </div>
      </div>
    </form>
  </body>
</html>