<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="text-align: center;">
    <form action="{{url_for('userSchedules')}}" method="POST">
      <div class="container">
          <h1>Your schedule</h1>
          <h1>SCHEDULES</h1>
          <br><br>
          {% for i in range(schedules|length) %}
            <input type="checkbox" id="schedule" name="scheduleDeletion" value= "{{ i }}" style="background-color: #D1F6F9;">      
            <label>{{ schedules[i]['scheduleDay'], schedules[i]['scheduleTime'] }}</label><br></br>
          {% endfor %}
        
        <button type="Submit" style="background-color: #D1F6F9;"> Delete </button>
      </form>
    </div>
  </body>
</html>