<html>
  <head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body style="text-align: center;">
    <form action="{{url_for('userMainScreen')}}" method="GET">
      <div class="container" style="background-color: #D1F6F9;">
        <h1>Your scheduled.</h1>
        <h1>Gym days</h1>
        <br><br>
        {% for schedule in schedules %}
            <p>{{ schedule['scheduleDay'], schedule['scheduleTime'] }}</option>
        {% endfor %}
        <div>
            <button type="Submit" style="background-color: #D1F6F9;">Select</button>
        </div>
      </div>
    </form>
  </body>
</html>